.Asset--fade-in{
  transition: opacity 250ms ease-in-out;

  &:not(.isLoaded) { 
    opacity: 0; 
  }
}

@mixin transition--none(){
  &:not(.isActive) { 
    opacity: 0 !important; 
    pointer-events: none;
  }
}

@mixin transition--fade($transition-time: 250ms){
  transition: opacity $transition-time ease-in-out;
  will-change: opacity;
  // opacity: 1;

  &:not(.isActive) { 
    opacity: 0 !important; 
    pointer-events: none;
  }
}

@mixin transition--slide-left($transition-time: 250ms){
  transition: transform $transition-time ease-in-out;

  &:not(.isActive) { 
    transform: translateX(100%) !important; 
    pointer-events: none;
  }
}

@mixin fixedToVisible(){
  position: fixed;
  top: 40px;
  left:0;
  right:0;
  height: calc(100vh - 40px);
}

@mixin whiteNoise($opacity: 0.4){
  &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right:0;
      bottom:0;
      background-size: 85px auto;
      background-image: url('../img/noise_white.png');
      opacity: $opacity;
      pointer-events: none;
    }
}


.Transition{
  @include transition--none();
}

.Transition--fade{
  @include transition--fade();
}

.Transition--slow-fade{
  @include transition--fade(1000ms);
}


.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.fullyhidden{
  display: none;
}

body {
  padding: 40px 0 0;
  background: #f2cd94;
}


@keyframes Curtain-left-in {
  0%   { transform: translateX(0%);}
  20%  { transform: translateX(0%);}
  100% { transform: translateX(-100%);}
}

@keyframes Curtain-right-in {
  0%   { transform: translateX(0%);}
  20%  { transform: translateX(0%);}
  100% { transform: translateX(100%);}
}

.Curtains{
  @include transition--fade();
  &__scrim{
    @include transition--fade();
    transition-delay: 100ms;
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    background: #000;
    &.isActive{
      transition-duration: 0;
    }
  }
  &__curtain-left, &__curtain-right{
    will-change: transform;
    img{
      height: 100%;
      width: auto;
      min-width: calc(100% + 25vh);
      position: absolute;
      top: 0;
      max-width: unset;
    }
  }
  &__curtain-right{
    transform: translateX(100%);
    img{
      transform: scaleX(-1);
      left: -11vh;
    }
  }
  &__curtain-left{
    transform: translateX(-100%);
    img{
      right: -11vh;
    }
  }

  &.isActive {

    .Curtains__curtain-left{
      animation: Curtain-left-in 1250ms;
      // animation-fill-mode: forwards;
    }
    .Curtains__curtain-right{
      animation: Curtain-right-in 1250ms;
      // animation-fill-mode: forwards;
    }
  }
}


.Navbar{
  height: 40px;
  // background-color: #be553d;
  // line-height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: left;
  color: #fff;
  user-select: none;
  
  &__paper{
    height: 44px;
    position: absolute;
    top:0;
    left:0;
    min-width: 100%;
    z-index: -1;
  }
  &__logo{
    img{
      height: 40px;
      margin: 0;
    }
    @media screen and (min-width: 1000px) {
      margin-right: 30px;
    }
  }

  &__link{
    height: 40px;
    &--offset{ padding-top: 5px; }
    user-select: all;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  svg{
    margin-left: 5px;
  }

  &__endLinks{
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-left: auto;
    margin-right: 12px;
  }

  &__hamburger{
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__menuWrapper{
    @include transition--fade();
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 1200;
    background: rgba(0,0,0,0.85);
  }
  &__menu{
    @include transition--slide-left();
    @include whiteNoise(0.05);
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    max-width: calc(100% - 48px);
    width: 350px;
    display: flex;
    flex-direction: column;
    background: #be553d;
    justify-content: space-around;

    hr{
      margin: 10px 0;
      background: #fff;
    }
  }
}

.Slideshow{
  // height: 100%;
  justify-self: stretch;
  align-self: stretch;
  flex-grow: 1;
  position: relative;
  // position: absolute;
  // top:0;
  // left:0;
  // bottom:0;
  // right:0;

  &__item{
    @include transition--none();

    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;

    & > *{
      max-width: 100%;
      max-height: 100%;
    }

    &--backgroundFill{ 
      top:0;
      left:0;
      bottom:0;
      right:0;
      & > *{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__controls{
    display: flex;
    align-items: center;
    position: absolute;
    bottom:7vh;
    left:50%;
    transform:translateX(-50%);
    background: #000;
    color: #fff;

    &__left, &__right{
      width: 40px;
      height: 40px;
      pointer-events: all;
      svg{
        width: 100%;
        height: 100%;
      }

      &.isDisabled{
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}

.Panel{
  @include fixedToVisible();

  display: flex;
  align-items: center;
  justify-content: center;

  &--padded{
    padding:3.5vh;
  }

  &--two-up{
    display: flex;
    align-items: center;
    justify-content: stretch;
  }
}

.ScrollSections {
  position: relative;
  // margin-top:40px;
  left:0;
  padding: calc(50vh - 20px) 0 calc(50vh - 21px);
  pointer-events: none;
  overflow: hidden;

  &__fixedRoot{
    @include fixedToVisible();
    // height: calc(100vh - 40px);
  }

  &__background {
    @include fixedToVisible();
    top: 0;
    @include whiteNoise(0.4);
    background-size: cover;
  }

  &__pageCount{
    position: fixed;
    bottom: 0;
    right: 0;
    background: #000;
    color: #fff;
    padding: 5px 10px;
  }
}
.ScrollSection {
  @include transition--fade;
  opacity: 1;
  display: flex; 
  align-items: center; 
  justify-content:center;
  min-height: calc(100vh - 40px);
  position: relative;
  width:100%;
  pointer-events: none;

  &__timeIndicator{
    @include transition--fade;
    @include fixedToVisible();
    // z-index: 100;

    &:after{
      content:'';
      display:block;
      width:9px;
      height:10%;
      position:absolute;
      top:45%;
      left:1px;
      border-radius: 5px;
      background-color: #000;
      background-clip: content-box;
      border:1px solid rgba(255,255,255,0.5);
    }
  }
}

.Video{
  // @include transition--none;
  @include transition--fade();
  
  // background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  will-change: opacity;
  max-width: calc((100vh - 40px - 7vh) / (720 / 1280));

  &.isActive{
    transition-delay: 250ms;
    pointer-events: auto;
  }

  &:not(.isActive){ 
    // transition: opacity 2500ms;
    iframe{
      // display: none;
    }
  }


   &__wrapper{
    position:relative;
    padding-top: calc(100% / (1280 / 720));
    width: 100%;
    overflow: hidden;
    background: #000;
    // mask-image: url('../img/video_mask.png');
    // mask-size: 100% 100%;
    border-radius: 1% / calc(1% * (1280 / 720));
    
    &__playButton{
      display: none;
      @include transition--fade(200ms);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #000;
      border: 1px solid #be553d;
      border-radius: 50%;
      width: calc(8% + 35px);

      svg {
        width: 100%;
        padding: 20%;
        display: block;
        *{fill: #be553d;}
      }
    }

    &__ytEmbed{
    position: absolute;
    top: -50%;
    left: -2px;
    width: calc(100% + 4px) !important;
    height: 200% !important;
    // pointer-events: none;
   }

   &__controlsScrim{
      @include transition--fade(200ms);
      position: absolute;
      height: 40%;
      pointer-events: none;
      left: -1px;
      bottom: -1px;
      right: -1px;
      background: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    }
  }

  &__controls{
    @include transition--fade(200ms);
    // @include transition--none;
    &:not(.isActive) { pointer-events: inherit;}
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 40%;

    // &.isPlaying{
    //   cursor: none;
    // }

    &__playToggle{
      position: absolute; left:calc(1% + 10px); bottom: 40px; width: 20px;

      svg{
        display: block;
      }

      polygon, rect{
        fill: #fff;
      }
    }
    &__time{
      position: absolute; right:calc(1% + 16px); bottom: 40px; color: #fff;
      line-height: 30px;
    }
    &__slider{
      position: absolute; bottom:0; left: calc(1% + 16px); right: calc(1% + 16px);

      &__wrapper{
        position: relative;
        height: 40px;
        width: 100%;
      }

      &__bar{
        position: absolute;
        bottom: 50%;
        height: 2px;
        left:0px;
        right:0px;
        background: rgba(255,255,255,0.25);

        &__progress, &__loaded, &__intent{
          position: absolute; top:0; bottom:0; left:0; 
          transition: width 500ms linear;
        }
        &__loaded{ background: rgba(255,255,255,0.25);}
        &__progress{ background: #be553d; }
      }

      &__handle{
        position: absolute;
        bottom: calc(50% + 2px + 5px);
        transition: left 500ms linear;
        transform: translateX(-50%);

        &:before{
          content:"";
          display: block;
          width: 0; 
          height: 0; 
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid #fff;
        }
      }
      &__intentHandle{
        @media (hover: none) {
          display: none;
        }
        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms;
        position: absolute; 
        bottom: calc(50% + 2px + 5px);
        transform: translateX(-50%);
        width: 101px;
        text-align: center;
        color: #fff;

        &:after{
          content: "";
          display: block;
          width: 1px;
          height: 17px;
          background: #fff;
          position: absolute;
          left:50%;
          top: 100%;
        }
        &.isActive{
          opacity: 1;
        }
      }
    }
  }


  &--fullscreen{
    .Video__wrapper{
      &:after{
        content:"";
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-image: url('../img/video_edge.png');
        background-size: 100% 100%;
      }
    }
    @include fixedToVisible();
    margin: auto;
    width: calc(100% - 7vh);
  }
}

.IntroCoverVid{
  @include transition--fade();
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  mix-blend-mode: screen;
}

.openingQuote{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  margin: 2rem;
}

.openingQuote .quote q{
  max-width: 22em;
  display: block;
  font-size: calc(14px + 1.25vw);
  line-height: 1.65;
  margin: 0 0 1em;
  text-align: center;

  font-family: 'IM Fell Double Pica',serif;
  text-rendering: optimizeLegibility;
}

.quote figcaption{
  text-align: center;
  transform: rotate(-3deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote figcaption img{
  border-radius: 50%;
  width: 5rem;
  margin: 0;
}

.bigborder{
  position: absolute; top:30px; left:30px; bottom:30px; right:30px;
  pointer-events: none;
  border-image: url('../img/border1.svg');
  border-style: solid;
  border-image-width: 80px;
  border-image-slice: 15% 15% fill;
  border-image-repeat: stretch;

  @media screen and (max-width: 550px), screen and (max-height: 550px) {
    display: none;
  }
}


// .Animation--curtains{
//   @include transition--fade();
//   .Animation--curtain-left, .Animation--curtain-right{
//     transition: transform 1000ms ease-in-out;
//   }
//   &.isActive{
//     .Animation--curtain-left{
//       transform: translateX(-100%);
//     }
//     .Animation--curtain-right{
//       transform: translateX(100%);
//     }
//   }
// }

.welcomeToParis{
    width: calc(200px + 10%);
    transform: rotate(-25deg);
    position: relative;
    z-index: 20;
    margin-bottom: -11%;
    align-self: flex-start;

    @media screen and (max-width: 500px) {
      width: 90%;
      transform: unset;
      align-self: center;
      margin-bottom: 0;
    }
}

.videoborder{
  position: relative;
  transform: rotate(-1deg);
  max-width: calc(100% - 50px);
}

.videoborder .videoborder__border{
  filter: drop-shadow(1px 1px 20px rgba(0,0,0,0.5));
}
.videoborder .videoborder__border img{
  display: block;
  mask-image: url("../img/card_mask.png");
  mask-size: 100% 100%;
  max-height: 75vh;
  margin: 0;
}

.videoborder .Video{
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Paper{
  filter: drop-shadow(1px 2px 3px rgba(0,0,0,0.35));
  // max-width: 16rem;
  padding:1rem 2rem .5rem;
  position: relative;

  &:before{
    content: "";
    display: block;
    position: absolute;
    top:0; bottom:0; left:0; right:0;
    background-color: rgba(247, 242, 232, 0.8); 
    background-image: url('../img/noise_white.png'); 
    background-size: 93px auto;

      -webkit-mask-image: url('../img/photoborder.png');
      -webkit-mask-size: 100% 100%;
    mask-image: url('../img/photoborder.png');
      mask-size: 100% 100%;

      z-index: -1;
  }
}