
a{
  color: #963324;
  pointer-events: all;
}

img{
  margin: 0;
}

@mixin transition--none(){
  &:not(.isActive) { 
    opacity: 0 !important; 
    pointer-events: none;
  }
}

@mixin transition--fade($transition-time: 250ms){
  transition: opacity $transition-time ease-in-out;
  // will-change: opacity;
  // opacity: 1;

  &:not(.isActive) { 
    opacity: 0 !important; 
    pointer-events: none;
  }
}

@mixin transition--slide-left($transition-time: 250ms){
  transition: transform $transition-time ease-in-out;

  &:not(.isActive) { 
    transform: translateX(100%) !important; 
    pointer-events: none;
  }
}

@mixin whiteNoise($opacity: 0.4){
  &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right:0;
      bottom:0;
      background-size: 85px auto;
      background-image: url('../../static/img/noise_white.png');
      opacity: $opacity;
      pointer-events: none;
    }
}

$drop-shadow: 
      unset
      // drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25)) 
      // drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.15))
      // drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.15))
      ;


.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.fullyHidden{
  display: none !important;
}

html, body {
  padding: 0;
  background: #f2cd94;
  overflow-x: hidden;
  // overflow: hidden;
}


.Navbar{
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: left;
  color: #fff;
  user-select: none;
  
  &__paper{
    height: 44px;
    position: absolute;
    top:0;
    left:0;
    min-width: 100%;
    z-index: -1;
  }
  &__logo{
    img{
      height: 40px;
      margin: 0;
    }
    @media screen and (min-width: 1000px) {
      margin-right: 30px;
    }
  }

  &__link{
    height: 40px;
    &--offset{ padding-top: 5px; }
    user-select: all;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  svg{
    margin-left: 5px;
  }

  &__endLinks{
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-left: auto;
    margin-right: 12px;
  }

  &__hamburger{
    height: 40px;
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__menuWrapper{
    @include transition--fade();
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 1200;
    background: rgba(0,0,0,0.85);
  }
  &__menu{
    @include transition--slide-left();
    @include whiteNoise(0.05);
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    max-width: calc(100% - 48px);
    width: 350px;
    display: flex;
    flex-direction: column;
    background: #be553d;
    justify-content: space-around;

    hr{
      margin: 10px 0;
      background: #fff;
    }
  }
}



.ScrollSections {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  overflow: hidden;

  // &__parallax{
  //   top: 0;
  //   left:0;
  //   width: 100%;
  //   position: absolute;
  //   pointer-events: none;
  // }

  &__background{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    height: 100vh;
    @include whiteNoise(0.4);
    background-size: auto 100%;
    z-index: -10000;
  }

  &__progress{
    background: #fff; 
    position: absolute; 
    top: 0; 
    height:5px; 
    left:0; 
  }
}

.ScrollSection {
  opacity: 1;
  display: flex; 
  align-items: center; 
  justify-content:center;

  position: relative;
  width: 100%;
  pointer-events: none;
}

  @keyframes video_spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.Video{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  // &.isActive{
    pointer-events: auto;
  // }

  &__spinner{
    position: absolute;
    top:calc(50% - 40px);
    left:calc(50% - 40px);
    width: 80px;
    height: 80px;
  
      div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 68px;
        height: 68px;
        margin: 6px;
        border: 6px solid #fff;
        border-radius: 50%;
        animation: video_spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
      
        &:nth-child(1) {
          animation-delay: -0.45s;
        }
        &:nth-child(2) {
          animation-delay: -0.3s;
        }
        &:nth-child(3) {
          animation-delay: -0.15s;
        }
      }
  }

   &__wrapper{
    position:relative;
    width: 100%;
    overflow: hidden;
    // background: #000;

    &__ytEmbed{
      position: absolute;
      // left: -2px;
      // width: calc(100% + 4px) !important;
      left: 0;
      width: 100%;
     }
  }

  &--fullscreen{
    // margin: auto;
    // width:100%;
    // height: 100%;
    // left:0;
    // top:0;
    // max-width: unset;

    // .Video__wrapper{
    //   padding:0;
    //   height: 100%;
    //   border-radius: 0;
    // }

    margin: auto;
    width: calc(100% - 7vh);

    // .Video__wrapper{
    //   mask-image: url('../../static/img/video_mask.png');
    //   mask-size: 100% 100%;
    // }

    // .Video__wrapper{
    //   &:after{
    //     content:"";
    //     display: block;
    //     position: absolute;
    //     top:0;
    //     left:0;
    //     width: 100%;
    //     height: 100%;
    //     background-image: url('../../static/img/video_edge.png');
    //     background-size: 100% 100%;
    //     pointer-events: none;
    //   }
    // }
  }
}

.fullscreenQuote{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  margin: 7rem;
  position: relative;
}

.fullscreenQuote .quote q{
  max-width: 22em;
  display: block;
  font-size: calc(14px + 1.25vw);
  line-height: 1.65;
  margin: 0 0 1em;
  text-align: center;

  font-family: 'IM Fell Double Pica',serif;
  text-rendering: optimizeLegibility;
}

.quote figcaption{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote figcaption img{
  border-radius: 50%;
  width: 5rem;
  margin: 0;
}

.bigborder{
  position: absolute; top:-70px; left:-60px; bottom:-70px; right:-60px;
  pointer-events: none;
  border-image: url('../../static/img/border1.svg');
  border-style: solid;
  border-image-width: 80px;
  border-image-slice: 15% 15% fill;
  border-image-repeat: stretch;

  @media screen and (max-width: 550px), screen and (max-height: 550px) {
    display: none;
  }
}

.Paper{
  filter: $drop-shadow;
  // max-width: 16rem;
  padding:2.5rem;
  position: relative;
  font-family: 'Caveat', cursive;
  font-size: 22px;
  line-height: 1.35;

  &:before{
    content: "";
    display: block;
    position: absolute;
    top:0; bottom:0; left:0; right:0;
    background-color: rgba(247, 242, 232, 0.8); 
    background-image: url('../../static/img/noise_white.png'); 
    background-size: 93px auto;

    mask-image: url('../../static/img/paper_mask.png');
      mask-size: 100% 100%;

      z-index: -1;
  }
}


